<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGitm2EqTHeDo7OBQkSSt5bkuVeolyR0E</string>
	<key>GCM_SENDER_ID</key>
	<string>163664503277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wesley.LeapPlan</string>
	<key>PROJECT_ID</key>
	<string>leapplan</string>
	<key>STORAGE_BUCKET</key>
	<string>leapplan.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163664503277:ios:bf45b69b949c12476287e4</string>
</dict>
</plist>